@tailwind base;
@tailwind components;
@tailwind utilities;

.image {
  width: 300px;
  margin: 10px;
}

html{
  font-family: mono;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background-color: #fff;
  z-index: 999;
}
